codigo/FlowP4_Shuyi.json
[
    {
        "id": "831110058ee88fcb",
        "type": "mqtt in",
        "z": "94e9dd05655bdcfc",
        "name": "",
        "topic": "casa/sensores/temperatura4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43c6d6fc24ad7b6d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 560,
        "wires": [
            [
                "1dcf608483ca39c6",
                "c1fb9cd08f35f2d3",
                "0ff018dab09eeadb"
            ]
        ]
    },
    {
        "id": "1dcf608483ca39c6",
        "type": "ui_gauge",
        "z": "94e9dd05655bdcfc",
        "name": "",
        "group": "b9022063c8fdadc3",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 450,
        "y": 500,
        "wires": []
    },
    {
        "id": "c1fb9cd08f35f2d3",
        "type": "ui_chart",
        "z": "94e9dd05655bdcfc",
        "name": "",
        "group": "b9022063c8fdadc3",
        "order": 9,
        "width": 0,
        "height": 0,
        "label": "Gráfico Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "35",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 500,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "0ff018dab09eeadb",
        "type": "debug",
        "z": "94e9dd05655bdcfc",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 620,
        "wires": []
    },
    {
        "id": "5db8c14e53ee0e59",
        "type": "mqtt in",
        "z": "94e9dd05655bdcfc",
        "name": "",
        "topic": "casa/sensores/humidade4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43c6d6fc24ad7b6d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 720,
        "wires": [
            [
                "798b4a9a79cab146",
                "f7755c9326df4301"
            ]
        ]
    },
    {
        "id": "798b4a9a79cab146",
        "type": "ui_gauge",
        "z": "94e9dd05655bdcfc",
        "name": "",
        "group": "b9022063c8fdadc3",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Humidade",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 700,
        "wires": []
    },
    {
        "id": "f7755c9326df4301",
        "type": "debug",
        "z": "94e9dd05655bdcfc",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 740,
        "wires": []
    },
    {
        "id": "1c89fb923468d82e",
        "type": "mqtt in",
        "z": "94e9dd05655bdcfc",
        "name": "",
        "topic": "depuracion4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43c6d6fc24ad7b6d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 650,
        "y": 620,
        "wires": [
            [
                "775856e4adce43c4"
            ]
        ]
    },
    {
        "id": "775856e4adce43c4",
        "type": "debug",
        "z": "94e9dd05655bdcfc",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 620,
        "wires": []
    },
    {
        "id": "03ba9c50135fdd34",
        "type": "mqtt in",
        "z": "94e9dd05655bdcfc",
        "name": "",
        "topic": "casa/sensores/temperatura4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43c6d6fc24ad7b6d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 840,
        "wires": [
            [
                "15777866898f40f6"
            ]
        ]
    },
    {
        "id": "15777866898f40f6",
        "type": "switch",
        "z": "94e9dd05655bdcfc",
        "name": "PasoTempTrue_False",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "21",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "21",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 480,
        "y": 840,
        "wires": [
            [
                "285521aced975c74"
            ],
            [
                "231d72efc66dd84d"
            ]
        ]
    },
    {
        "id": "285521aced975c74",
        "type": "change",
        "z": "94e9dd05655bdcfc",
        "name": "Cambio a True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 780,
        "wires": [
            [
                "1fd8e5d901dd050b"
            ]
        ]
    },
    {
        "id": "231d72efc66dd84d",
        "type": "change",
        "z": "94e9dd05655bdcfc",
        "name": "Cambio a True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 880,
        "wires": [
            [
                "1fd8e5d901dd050b"
            ]
        ]
    },
    {
        "id": "1fd8e5d901dd050b",
        "type": "rbe",
        "z": "94e9dd05655bdcfc",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 830,
        "y": 840,
        "wires": [
            [
                "209da7cbad22014d",
                "d2ac01e5321cd533"
            ]
        ]
    },
    {
        "id": "209da7cbad22014d",
        "type": "mqtt out",
        "z": "94e9dd05655bdcfc",
        "name": "",
        "topic": "casa/actuadores/rele4",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43c6d6fc24ad7b6d",
        "x": 1000,
        "y": 800,
        "wires": []
    },
    {
        "id": "d2ac01e5321cd533",
        "type": "debug",
        "z": "94e9dd05655bdcfc",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 880,
        "wires": []
    },
    {
        "id": "d145cd893189b0cb",
        "type": "mqtt in",
        "z": "94e9dd05655bdcfc",
        "name": "",
        "topic": "casa/actuadores/rele4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43c6d6fc24ad7b6d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 980,
        "wires": [
            [
                "58fb9db185457a25"
            ]
        ]
    },
    {
        "id": "58fb9db185457a25",
        "type": "debug",
        "z": "94e9dd05655bdcfc",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 980,
        "wires": []
    },
    {
        "id": "910ff3c1a0c080aa",
        "type": "mqtt out",
        "z": "94e9dd05655bdcfc",
        "name": "",
        "topic": "casa/actuadores/rele4",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43c6d6fc24ad7b6d",
        "x": 480,
        "y": 1060,
        "wires": []
    },
    {
        "id": "849c541ffbd61d66",
        "type": "ui_switch",
        "z": "94e9dd05655bdcfc",
        "name": "",
        "label": "rele4",
        "tooltip": "",
        "group": "654b2b9f30da2b80",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 250,
        "y": 1060,
        "wires": [
            [
                "910ff3c1a0c080aa"
            ]
        ]
    },
    {
        "id": "43c6d6fc24ad7b6d",
        "type": "mqtt-broker",
        "name": "mi_mosquitto_broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b9022063c8fdadc3",
        "type": "ui_group",
        "name": "DHT11",
        "tab": "5000729defeb6ba4",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "654b2b9f30da2b80",
        "type": "ui_group",
        "name": "Actuadores dixitais",
        "tab": "5000729defeb6ba4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5000729defeb6ba4",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]